*:root, * {
    margin: 0;
    padding: 0;
}

.container {
  display:flex;
  flex-direction: row;
  height: 100vh;
  background-color: rgb(45, 47, 40);
}

.navigation {
  background-color: rgb(140, 153, 104);
  height:100%;
  display:flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.main, .hot, .regular {
  background-color: rgb(197, 204, 173);
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 3;
  height:100%;
}

.button {
  background-color: rgb(29, 68, 58);
  width: 100px;
  height:100px;
  border: none;
  border-radius: 10px;
  margin:10px;
  font-size: 24px;
  color: #ddd;
}

.button:hover {
  background-color: rgb(99, 192, 169);
}
.button:active {
  outline: #338eb2 solid 6px;
}

.mem {
  padding: 15px;
  background-color:azure;
  box-shadow: 8px 8px 5px rgb(79, 76, 76);
  margin: 30px;
}

img {
  background-color: rgb(61, 57, 57);
  width: 300px;
  height: 300px;
}

footer {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.upvote {
  background-color: rgb(110, 193, 28);
  width: 50px;
  height:50px;
  border: solid 2px white;
  border-radius: 50% 50%;
  color:white;
}
.downvote {
  background-color: rgb(32, 60, 171);
  width: 50px;
  height:50px;
  border: solid 2px white;
  border-radius: 50% 50%;
  color:white;
}

.upvote:hover, .downvote:hover {
  box-shadow: 0px 0px 8px 6px #b24b96;
}

.title {
  font-size: 20px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 12px;
}